* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 236, 236);
}

header {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
}

.toggle-container {
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: end;
}

.toggle {
  background-color: rgb(255, 255, 255);
  width: 60px;
  height: 35px;
  border: solid black 1px;
  border-radius: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 3px;
}

.toggle-button {
  height: 30px;
  width: 30px;
  background-color: rgb(255, 0, 170);
  border-radius: 50%;
  margin-left: 5px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  list-style: none;
  padding: 0 20px;
}

.banner {
  display: flex;
  background-color: aqua;
  height: 300px;
}

.about-me {
  width: 500px;
  background-color: aquamarine;
}

.button {
  height: 30px;
  width: 100px;
  background-color: rgb(255, 0, 170);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button a {
  color: black;
  text-decoration: none;
}

.profile-container {
  overflow: hidden;
}

.profile-container img {
  width: 300px;
}