* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62,5%;
  font-family: 'Inter';
}

body {
  background-color: rgb(236, 236, 236);
}

/* Nav Section */

header {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
  width: 100%;
  height: 5rem;
}

.toggle-container {
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: end;
}

.toggle {
  background-color: rgb(255, 255, 255);
  width: 70px;
  height: 35px;
  border: solid black 1px;
  border-radius: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 3px;
}

.toggle-button {
  height: 30px;
  width: 30px;
  background-color: #FF90E8;
  border-radius: 50%;
  margin-left: 5px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  list-style: none;
  padding: 0 20px;
  font-size: 1.5rem;
}

/* Banner section */

.banner {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 40rem;
  padding: 2rem;
}

.about-me {
  max-width: 700px;
  min-width: 400px;
  flex: 1.5;
}

.about-me h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.about-me p {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.button {
  height: 4rem;
  width: 20rem;
  background-color: #FF90E8;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
}

.banner-img-container {
  flex: 1;
  max-width: 500px;
  min-width: 400px;
  overflow: hidden;
  height: 30rem;
}

.banner-img-container img {
  width: 32rem;
  transform: translate(0%, -5%)
}

.banner-img-frame {
  background-color: rgb(0, 136, 255);
  overflow: hidden;
  height: 30rem;
  border-radius: 4rem;
}

/* My Project Section */

.my-project {
  text-align: center;
}

.my-project-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.my-project-items {
  background-color: #ffffff;
  max-width: 400px;
  min-width: 250px;
  flex: 1;
  overflow: hidden;
  border: solid 1px black;
}

.my-project h2 {
  font-size: 3rem;
  padding: 3rem;
}

.my-project p {
  font-size: 1.4rem;
  padding: 15px;
  border: solid 1px black;
}

/* services section */

.services {
  text-align: center;
  padding: 5rem;
}

.services h2 {
  font-size: 3rem;
}

.services-items {
  width: 90%;
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
  background-color: white;
  height: 150px;
}

.services-items h3 {
  font-size: 2rem;
  padding: 10px 0;
}

.services-items p {
  text-align:start;
  font-size: 1.4rem;
}

.services-button {
  background-color: #FF90E8;
  width: 220px;
  border: solid 1px black;
  align-content: center;
  border-radius: 50px;
  height: 70px;
}

.services-button a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}