* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter';
}

body {
  background-color: rgb(238, 238, 238);
}

/* Nav Section */

header {
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 100%;
  height: 5rem;
  border-width: 1px 0px;
  border-style: solid;
  border-color: black;
}

header .logo{
  width: auto;
  align-content: center;
}

.toggle-lining {
  width: 300px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.toggle-container {
  background-color: rgb(255, 255, 255);
  width: 80px;
  height: 45px;
  border: solid black 1px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  position: relative;
}

.toggle-button {
  height: 35px;
  width: 35px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 5px;
  transition-duration: 0.5s;
}

nav ul {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  
}

nav li {
  list-style: none;
  padding: 0 20px;
  font-size: 1.5rem;
  align-content: center;
  border-width: 0px 1px;
  border-style: solid;
  border-color: black;
}

nav li:hover {
  background-color:#FF90E8;
}

nav a {
  color: black;
  text-decoration: none;
}

/* for tablet */
@media only screen and (min-width: 600px) and (max-width: 1024px) {

  header {
    width: 100%;
  }

  header .logo {
    padding: 10px;;
  }

  .toggle-lining {
    width: 90px;
  }

  nav li {
    font-size: 1.4rem;
    padding: 10px;
  }
}

/* smartphone screen */
@media only screen and (max-width: 480px) {

  header .logo {
    display: none;
  }

  nav li {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .toggle-lining {
    padding: 0rem;
    margin: 0;
    height: auto;
    width: auto;
  }

  .toggle-container {
    margin: 0 auto;
    padding: 0;
  }

}


/* Banner section */

.banner {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 35rem;
  padding: 2rem;
  margin-top: 5rem;
}

.about-me {
  max-width: 700px;
  min-width: 400px;
  flex: 1.5;
}

.about-me h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.about-me p {
  font-size: 2.2rem;
  margin-bottom: 1.7rem;
}

.about-me-button {
  height: 4rem;
  width: 20rem;
  background-color: #FF90E8;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-button:hover {
  background-color: #ff3bd8;
}

.about-me-button a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
}

.banner-img-container {
  flex: 1;
  max-width: 500px;
  min-width: 400px;
  overflow: hidden;
  height: 30rem;
}

.banner-img-container img {
  width: 32rem;
  transform: translate(0%, -5%)
}

.banner-img-frame {
  overflow: hidden;
  height: 30rem;
  border-radius: 4rem;
}

/* for tablet */
@media only screen and (min-width: 600px) and (max-width: 1024px) {

  .banner {
    width: 100%;
    overflow: hidden;
  }

  .about-me {
    width: auto;
    padding: 0 4rem;
  }

  .about-me h1 {
    font-size: 2rem;
  }

  .about-me p {
    font-size: 1.5rem;
  }

  .banner-img-container {
    width: 8rem;
  }

  .banner-img-frame {
    width: 21 rem;
  }

  .banner-img-container img {
    width: 23rem;
  }
}

/* smartphone screen */
@media only screen and (max-width: 480px) {
  .banner {
    display: block;
    padding: 1rem;
    margin: 0;
    height: auto;
  }

  .about-me h1 {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
  }

  .about-me p {
    font-size: 1.2rem;
    padding: 10px;
    text-align: justify;
    margin: 0;
  }

  .about-me-button {
    width: 10rem;
    margin: 0 auto; 
    padding: 0;
    height: 3rem;
  }

  .about-me-button a {
    font-size: 1.5rem;
  }

  .banner-img-container {
    display: none;
  }

  .banner-img-container img {
   display: none;
  }
}

/* My Project Section */

.my-project {
  text-align: center;
}

.my-project-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.my-project-items {
  background-color: #ffffff;
  max-width: 400px;
  min-width: 250px;
  flex: 1;
  overflow: hidden;
  border: solid 1px black;
}

.my-project h2 {
  font-size: 3rem;
  padding: 3rem;
}

.my-project p {
  font-size: 1.4rem;
  padding: 15px;
  border-width: 1px 0;
  border-style: solid;
  border-color: black;
}

/* for tablet */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .my-project-container {
    width: 95%;
    margin: 0 auto;
  }
}

/* smartphone screen */
@media only screen and (max-width: 480px) {
  .banner {
    display: block;
  }

  .my-project h2 {
    font-size: 2rem;
    margin-top: 2rem;
    padding: 1rem;
  }

  .my-project p {
    font-size: 1rem;
  }

  .my-project img {
    width: 100%;
  }
}


/* services section */

.services {
  text-align: center;
}

.services h2 {
  font-size: 3rem;
  padding-top: 4rem;
}

.services-items {
  width: 80%;
  margin: 2rem auto;
  max-width: 1200px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
  background-color: white;
  height: 150px;
}

.services-items h3 {
  font-size: 2rem;
  padding: 10px 0;
}

.services-items p {
  text-align:start;
  font-size: 1.4rem;
}

.services-button {
  background-color: #FF90E8;
  width: 220px;
  border: solid 1px black;
  align-content: center;
  border-radius: 50px;
  height: 70px;
}

.services-button:hover {
  background-color: #ff3bd8;
}

.services-button a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

/* for tablet */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .services-items {
    width: 750px;
  }
}

/* smartphone screen */
@media only screen and (max-width: 480px) {

  .services {
    width: 100%;
  }

  .services h2 {
    font-size: 2rem;
  }

  .services-items {
    padding: 20px;
    height: auto;
    align-items: center;
    width: 90%;
    margin: 10px auto;
  }

  .services h3 {
    font-size: 1.2rem;
  }
  .services p {
    font-size: 0.8rem;
  }

  .services-button {
    margin: 0;
    padding: 5px;
    width: auto;
    height: 3rem;
  }

  .services-button a {
    font-size: 1rem;
  }
}

/* Testimonial Section */

.testimonial {
  width: 80%;
  margin: 2rem auto;
  background-color: white;
  text-align: center;
  border: solid 1px black;
  max-width: 1200px;
}

.testimonial-quote {
  font-size: 5rem;
}

.testimonial-slider {
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
  align-items: center;
}

.testimonial-button img:hover {
  transform: scale(1.2);
}

.testimonial-message {
  font-size: 2rem;
  padding: 0 5rem;
}

/* for tablet */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .testimonial {
    width: 90%;
  }

  .testimonial-quote {
    font-size: 2rem;
  }

  .testimonial-message {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .testimonial-button img {
    width: 4rem;
  }

  .testimonial-slider {
    padding: 0;
  }
}

/* smartphone screen */
@media only screen and (max-width: 480px) {
  
  .testimonial {
    width: 90%;
  }

  .testimonial-quote {
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }

  .testimonial-slider {
    display: block;
    margin: 0;
    padding: 20px;
  }

  .testimonial-message {
    font-size: 1.5rem;
    padding: 10px;
  }

  .testimonial-button {
    background-color: rgb(252, 252, 153);
    width: auto;
  }

  .testimonial-button img {
    width: 3rem;
  }
}

/* contact me section */

.contact-me {
  text-align: center;
}

.contact-me h2 {
  font-size: 4rem;
  padding: 1rem;
}

.contact-me-button {
  background-color: #FF90E8;
  width: 20rem;
  height: 4rem;
  margin: 0 auto;
  border-radius: 2rem;
  align-content: center;
}

.contact-me-button:hover {
  background-color: #ff3bd8;
}

.contact-me a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

/* smartphone screen */
@media only screen and (max-width: 480px) {
  .contact-me h2 {
    font-size: 2.5rem;
  }

  .contact-me-button {
    width: 12rem;
    height: auto;
    padding: 10px;
    margin: 0 auto;
  }

  .contact-me a {
    font-size: 1.5rem;
  }
}

/* Footer Section */

footer {
  margin: 3rem 0 1rem 0;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

footer li {
  list-style: none;
  font-size: 1rem;
  padding: 1rem;
 
}

footer a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

/* smartphone screen */
@media only screen and (max-width: 480px) {
  footer a {
    font-size: 1rem;
  }
}



