.title-spacing {
    width: 90rem;
}

.hero-section-title h1{
    letter-spacing: -0.2rem;
}

.box {
    width: 50%;
}

.arrow-bg {
    background-image: url("../img/customer-experiences-page-arrow-bg.png");
    background-repeat: no-repeat;
    background-position: 0rem 24rem;
}

.arrow-bg-reverse {
    background-image: url("../img/customer-experiences-page-arrow-bg-reverse.png");
    background-repeat: no-repeat;
    background-position: 0rem 23rem;
}

.vertical-center {
    align-content: center;
}

.point {
    display: flex;
}

.point h3 {
    font-size: 2.6rem;
}

.point-number {
    background-color: #F0F0F0;
    border-radius: 50%;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}


@media screen and (max-width: 425px) {
    .title-spacing {
        width: 90%;
        text-align: start;
    }

    .title-spacing h1 {
        width: 80%;
    }

    .point {
        padding: 2rem;
        display: block;
    }

    .point-number {
        margin-bottom: 1.5rem;
        padding: 1rem 1.4rem;
    }

    .centered-img {
        margin: 0 auto;
        width: 90%;
        height: auto;
    }

    .hero-mobile-img{
        width: 100%;
        height: auto;
    }

    .box {
        width: 100%;
    }

    .flex-container {
        display: block;
    }

    .cta-box {
        width: 90%;
    }

    .big-paragraph {
        font-size: 1.9rem;
        width: 90%;
    }

    .section-title-mobile {
        padding: 4rem 2rem 1rem 2rem;
    }

    .arrow-bg-mobile {
        position: relative;
        top: -4rem;
        z-index: -1;
    }
}