@font-face {
    font-family: 'Switzer-Variable';
    src: url('../fonts/Switzer-Variable.woff2') format('woff2'),
         url('../fonts/Switzer-Variable.woff') format('woff');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer-VariableItalic';
    src: url('../fonts/Switzer-VariableItalic.woff2') format('woff2'),
         url('../fonts/Switzer-VariableItalic.woff') format('woff');
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
  } 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
} 

/* Typography */

body {
    font-family: 'Switzer-Variable', sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 5.6rem;
    line-height: 1;
    font-weight: 700;
    background: linear-gradient(to bottom, #111827, #696969);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0.6rem;
}

h2 {
    font-size: 4.8rem;
    line-height: 1;
    letter-spacing: -0.1rem;;
    font-weight: 600;
    color: #0D0D0D;
}

h3 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
    color: #0D0D0D;
}

h4 {
    font-size: 2.4rem;
    font-weight: 600;
    color: #0D0D0D;
}

h5 {
    font-size: 1.4rem;
    letter-spacing: 0.12rem;
    color: #303030;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #667185;
}

.main-paragraph {
    font-size: 1.8rem;
}

a {
    font-size: 1.4rem;
    font-weight: 600;
    color: #667185;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: #040405;
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 3.2rem;
        text-align: start;
    }

    h2 {
        font-size: 2.8rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.4rem;
    }

    .main-paragraph {
        font-size: 1.6rem;
        text-align: start;
    }

    a {
        font-weight: 500;
    }
}

/* Components */

.btn {
    display: inline-block;
    background-color: #141414;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem;
    border-radius: 0.7rem;
    text-align: center;
}

.btn:hover {
    background-color: #505050;
}

.btn-label {
    color: white;
    font-weight: 600;
    text-decoration: none;  
}

.btn-label:hover {
    color: rgb(255, 255, 255);
}

.card-bg {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(196, 196, 196, 0.459);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}

/* Header Navigation */

.header-pc {
    display: flex;
    justify-content: space-between;
    margin: 2rem 5rem;
    width: 92%;
    position: absolute;
    top: 0;  
}

header img {
    width: 14rem;
    height: 3.2rem;
}

header ul {
    display: flex;
    list-style: none;
    height: 3.2rem;
}

header li {
    padding: 0 2rem;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    color: #667185;
    align-content: center;
}

header li:hover {
    color: #040405;
}

.mega-menu-link {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.mega-menu-link img {
    width: 2rem;
    height: 2rem;
    margin-left: -1.5rem;
}

.mega-menu {
    width: 80rem;
    height: auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(196, 196, 196, 0.459);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mega-menu-product {
    display: none; 
    position: absolute;
    top: 4rem;
    right: 2rem;
  }
  
.mega-menu-services {
    display: none;
    position: absolute;
    top: 4rem;
    right: 1rem;
}

.mega-menu-lining {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.mega-menu-items {
    display: flex;
    width: 40rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
}

.mega-menu-items img {
    width: 4rem;
    height: auto;
    margin: 1rem;
}

.mega-menu-article {
    border-left: 1px solid rgba(196, 196, 196, 0.459);;
    padding-left: 2rem;
    width: 36rem;
}

.mega-menu-learn-more {
    text-align: end;
}

.mega-menu-article img {
    width: 32rem;
    height: auto;
}


.header-mobile {
    display: none;
}

@media screen and (max-width: 425px) {

    .header-pc {
        display: none;
    }

    .header-mobile {
        display: block;
        position: static;
    }

    .header-mobile-top {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    .mobile-menu-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 0.5rem;
        border: 1px solid rgba(196, 196, 196, 0.459);  
    }

    .mobile-menu-toggle img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .header-mobile-nav {
        display: none;
        width: 100%;
    }

    .header-mobile-nav li {
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 1rem;
        border-bottom: 1px solid rgba(196, 196, 196, 0.459);
    }

}

/* Footer*/

footer {
    margin: 0 auto;
    width: 121rem;;
}

.footer-lining {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.footer-contact {
    width: 50rem;
}

.footer-contact-logo {
    width: 28rem;
}

.footer-contact h4 {
    font-size: 2rem;
    color: #344054;
    font-weight: 400;
    padding-bottom: 1rem;
}

.footer-contact p {
    font-size: 1.6rem;
    color: #667185;
}

.footer-icon-lining {
    display: flex;
    gap: 0.5rem;
}

footer nav ul {
    margin-top: 1rem;
    display: flex;
    height: auto;
}

footer nav li {
    list-style: none;
    padding-right: 1.5rem;
    align-content: center;
}

footer nav .we-are-hiring {
    color: #007084;
    background-color: #F5F8FF;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-left: -1rem;
}

.footer-form {
    width: 44rem;
}

.footer-form h4 {
    font-size: 2rem;
    color: #344054;
    font-weight: 400;
    padding-bottom: 1rem;
}

.form-placeholder {
    height: 4rem;
    width: 32rem;
    border: 1px solid rgba(196, 196, 196, 0.459);
    border-radius: 1rem;
    padding: 1rem;
    margin-right: 0.5rem;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    height: 10rem;
    border-top: 1px solid rgba(196, 196, 196, 0.459);
    padding-top: 2rem;
}

.social-media-footer {
    display: flex;
    gap: 1.5rem;
}

.copyright p {
    font-size: 1.4rem;
}

@media screen and (max-width: 425px) {
    footer {
        width: 34rem;
    }

   .footer-lining {
    display: grid;
   }

   .footer-contact {
    width: 30rem;
   }

   .footer-contact-logo {
    width: 14rem;
   }

   .footer-contact h4 {
    font-size: 1.6rem;
   }

   .footer-contact p {
    font-size: 1.4rem;
   }

   footer nav ul {
    display: grid;
    gap: 1rem;
    position: relative;
    margin: 3rem 0;
   }

   footer nav .we-are-hiring {
    position: absolute;
    width: 10rem;
    top: 11rem;
    left: 7rem;
   }

   .footer-form {
    display: grid;
    gap: 0.5rem;
    width: 34rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
   }

   .form-placeholder {
    width: 33rem;
    margin: 0 auto;
   }

   .footer-bottom {
    display: grid;
    margin: 1rem;
   }

   .copyright p {
    width: 24rem;
   }
}